h2 Create new course
form(action="/courses/store" method="POST")
	label(id="name")
	input(type="text", placeholder="Tên khóa học", name="name")
	label(id="description")
	input(type="text", placeholder="Mô tả", name="description")
	input(type="submit")


